body {
    background: #f4f4f4;
    font-family: 'Roboto Mono';
    color: #607d8b;
}

.brand-name {
        font-weight: bold;
        font-size: 18px;
        font-family: 'Rajdhani';
        padding-top: 7px;

}
.email {
    text-align: right;
    color: #607d8b;
    font-size: 14px;
}

.about-button, .portfolio-button, .menu-button {
    font-size: 18px;
    width: 100px;
    text-align: center;
}

.about-button:hover, .menu-button:hover, .portfolio-button:hover {
    background: #efebe9;
    color: black;
}

.portfolio-button {
    width: 140px;
}

.main-page {
    font-size: 24px;
    text-align: center;
}

.console {
    color: black;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

.const, p{
    color: blue;
    text-align: left;

}

.munasibkhan {
    font-size: 28px;
    color: #ff8f00;
    font-style: bold;
    text-align: left;
}

.iworkwith {
    color: red;
    margin-left: 20px;
}

.opencurly, .closecurly {
    color: black;
    text-align: left;

}
.webdeveloper, .console-developer {
    font-size: 25px;
}

.webdeveloper {
    font-size: 25px;
}

.modal-dialog {
    max-width: 100%;
    margin: 10px;
}

.card-img {
    width: 200px;
}

.card-image-div {
    text-align: center;
}

audio {
    opacity: 0%;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.about-description {
    font-size: 18px;
    color: black;
    font-family: 'Klee One';
    text-align: justify;
}
.portfolio-description {
    overflow-y: scroll;
    height: 450px;
}

.card-header, .card-footer {
    background: rgb(130, 130, 130);
    text-align: center;
    color: white;
}
.card-body, .card-image-div {
    background: #ddd;
}
